*.un~
*.gch
*.txt
tags
*.pyc
*.attr
*.DS_Store
.clang_complete
tags
ctags
build/
*/vc/
vc/
*/xcode/
xcode/
*.sublime-project
*.sublime-workspace
uvChecker/.idea/
uvChecker/cmake-build-debug/
modules/
plug-ins/
.idea/
.idea
cmake-build-debug/
cmake-build-release/
cmake-build-maya/
!CMakeLists.txt
.clang
sublimeBuild.bat
